<div class="form">
  <div class="error" *ngIf="flagForOverExpense">
    <strong>Warning!</strong> The expense report limit will be exceeded with
    this expense.
  </div>
  <div class="fields">
    <div>
      <span>Description</span>
      <input
        type="text"
        required
        [disabled]="!isAllowedToAddExpense"
        [(ngModel)]="expenseDescription"
        placeholder="Description"
      />
    </div>
    <div>
      <span>Currency</span>
      <div>
        <select
          [(ngModel)]="expenseCurrency"
          [disabled]="!isAllowedToAddExpense"
          required
        >
          <option
            *ngFor="let currency of currencies | async"
            [selected]="currency === expenseCurrency"
          >
            {{ currency }}
          </option>
        </select>
      </div>
    </div>
    <div>
      <span>Amount</span>
      <input
        type="number"
        [disabled]="!isAllowedToAddExpense"
        [(ngModel)]="expenseAmount"
        required
        placeholder="Amount"
      />
    </div>
    <div>
      <button
        [disabled]="!isAllowedToAddExpense"
        class="btn-primary"
        (click)="addExpense()"
      >
        Add Expense
      </button>
    </div>
  </div>
</div>
