.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .error,
  .fields {
    width: 100%;
  }
  .fields {
    display: flex;
    div {
      width: 100%;
    }
  }
}
